<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Vue - Parcel Delivery Redefined</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evSX huddled7lwJEuBf/brwfwX+zKCmWQjUOPwjWypRDjgoaE2vuz9q7u7IGvgyPk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/about1.css">
</head>
<body>
    <header id="master" class="bg-primary text-white">
            <section id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <h3>Sidebars</h3>
                    <p class='text-muted'>Need Some Help?</p>
                        <a href="{{ url_for('register') }}">History</a>
                        <a href="{{ url_for('register_rider') }}">Settings</a>
                            <a class="dropdown-toggle" href="#" role="button" id="riderPanelDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rider's Panel</a>
                            <div class="dropdown-menu" aria-labelledby="riderPanelDropdown">
                                <a class="dropdown-item" href="#">View Parcels</a>
                                <a class="dropdown-item" href="#">Edit Profile</a>
                            </div>
                        <a href="{{ url_for('register_rider') }}">Notifications</a>            </section>
                <span style="font-size:40px;cursor:pointer;margin:0 30px" onclick="openNav()">&#9776; </span>

                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">Support</a>
                <a href="{{ url_for('request_pickup') }}">Request</a>
                <a class="btn btn-outline-primary btn-lg mx-2" href="{{ url_for('track_parcel') }}">Track Parcel</a>
<h1 class="display-4 fw-bold">Vue: Revolutionizing Parcel Delivery</h1>
                    <p class="lead">Fast, secure, and convenient shipping solutions at your fingertips.</p>
                    <img src="../static/images/vue.png" alt="Vue Logo" class="pic img-fluid">
    </header>

    <main class="container py-5">
        <section class="row">
            <div class="why-choose-vue col-md-6 mb-4">
                <h2>Why Choose Vue?</h2>
                <p>Fueled by innovation and a passion for streamlined logistics, Vue is more than just a delivery company. We're a comprehensive solution for all your parcel shipping needs. Here's what sets us apart:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-rocket text-primary me-2"></i> Fast & Secure Delivery: Experience unparalleled speed and reliability with our optimized routes and robust security measures.
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-eye text-primary me-2"></i> Real-time Parcel Tracking: Never be left wondering. Track your parcels in real-time with our user-friendly app, providing complete peace of mind.
                    </li>
                    <li class="group-list-item">
                        <i class="fas fa-shield-alt text-primary me-2"></i> Secure Parcel Handling: From pickup to delivery, your parcels are in the safest hands. We prioritize secure storage and meticulous handling procedures.
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-clock text-primary me-2"></i> Timely Delivery: We understand the importance of deadlines. Our dedicated drivers ensure your parcels reach their destinations on time, every time.
                    </li>
                </ul>
            </div>
            <div class="become-rider col-md-6 mb-4">
                <h2>Become a Vue Rider</h2>
                <p>Are you passionate about efficient deliveries and providing exceptional customer service? Join our team of reliable riders and build a rewarding career with Vue. Here's what you can expect:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-calendar-check text-primary me-2"></i> Flexible Scheduling: Craft a work schedule that fits your lifestyle. Choose the hours you want to work and maximize your earning potential.
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-map-marker-alt text-primary me-2"></i> Optimized Routes: We prioritize your efficiency. Our app provides optimized delivery routes, saving you time and maximizing your earnings.
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-handshake text-primary me-2"></i> Competitive Earnings: Earn competitive compensation for each delivery. With our clear pay structure, you'll always know what you're working for.
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-headset text-primary me-2"></i> Supportive Community: Become part of a team of dedicated riders who support each other. We offer ongoing training and resources to help you succeed.
                    </li>
                </ul>
		<a href="{{ url_for('register_rider') }}" class="btn btn-primary">Join the Vue Team</a>
            </div>
        </section>

        <section class="our-technology row text-center">
            <div class="col">
                <h2>Our Technology</h2>
                <p>Vue leverages cutting-edge technology to streamline the delivery process. Our user-friendly app empowers both senders and riders with real-time tracking, optimized routes, and seamless communication.</p>
            </div>
        </section>

        <section class="testimonial row">
            <div class="col-md-4 mb-4">
                <img src="../static/images/image1.jpg" alt="Image 1" class="img-fluid rounded-circle mx-auto d-block">
                <h4 class="text-center py-2">Happy Customers</h4>
                <p class="text-center">"Vue made shipping my packages a breeze. Their fast and reliable service gives me complete peace of mind."</p>
                <p class="text-center">- Yvonne Gichovi</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/images/image2.jpg" alt="Image 2" class="img-fluid rounded-circle mx-auto d-block">
                <h4 class="text-center py-2">Dedicated Riders</h4>
                <p class="text-center">"Working with Vue has been a rewarding experience. The flexible schedule allows me to control my workload, and the support from the team is fantastic."</p>
                <p class="text-center">- Victo Njenga</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/images/fast.jpeg" alt="image 3" class="img-fluid rounded-circle mx-auto d-block">
                <h4 class="text-center py-2">Growing Network</h4>
                <p class="text-center">"Vue's commitment to innovation is impressive. Their ever-expanding network ensures they can deliver anywhere, anytime."</p>
                <p class="text-center">- Kay Macharia</p>
            </div>
        </section>
    </main>

    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="h4">Contact Us</h3>
                    <p>
                        <a href="mailto:info@vue.com" class="text-white text-decoration-none">info@vue.com</a><br>
                        <a href="tel:+254719210347" class="text-white text-decoration-none">+254719210347</a>
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a href="#" class="text-white text-decoration-none me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white text-decoration-none me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white text-decoration-none"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
    </footer>
</body>
</html>
