<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        {% if title %}
        <title>Vue - {{ title }}</title>
        {% else %}
        <title>Vue</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/profiles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    </head>
    <body class="container">
        <header>
            <div class="kichwa">
                <nav id ="reg">
                    <ul>
                        <li id="spacer"><a href="{{ url_for('home') }}">Home</a></li>
                        <li id="spacer"><a href="{{ url_for('about') }}">Support</a></li>
                        {% if current_user.is_authenticated %}
			    {% if current_user.role == 'user' %}
                        <h1> Welcome {{ current_user.username }} </h1>
			<li id="spacer"><a href="{{ url_for('request_pickup') }}">Request</a></li>
			    {% else %}
			     <h1> Welcome {{ current_user.name }} </h1>
			     <div class="toggle-switch">
			         <input type="checkbox" id="toggle" class="toggle-input" data-rider-id="{{ current_user.id }}" {% if status %} checked {% endif %} onchange="updateRiderStatus()"> 
                               <label for="toggle" class="toggle-label"></label>
                             </div> 
			     {% endif %}
                        <li id="spacer"><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li id="spacer"><a href="{{ url_for('edit_profile') }}">Profile</a></li>
                        {% else %}
                        <h1 >Welcome to Vue</h1>
                        <li id="spacer"><a href="{{ url_for('login') }}">Login</a></li>
                        <li id="spacer"><a href="{{ url_for('register') }}">Register</a></li>
			<li id="spacer"><a href="{{ url_for('request_pickup') }}">Request</a></li>
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4" class="sidebars">
                <div class="content-section">
                    <h3>Sidebars</h3>
		    <p class='text-muted'>Need Some Help?</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('register') }}">History</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('register_rider') }}">Settings</a></li>
                        <li class="list-group-item list-group-item-light dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="riderPanelDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_user.is_authenticated %}
		        {% if current_user.role == 'rider' %}
			    Dashboard
			{% else %}
			    My Parcels
			{% endif %}
                    {% else %}
                        Rider's Panel
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="riderPanelDropdown">
                    {% if current_user.is_authenticated %}
                        {% if current_user.role.name == 'user' %}
                            <!-- Dropdown content for rider -->
                            <a class="dropdown-item" href="#">View Parcels</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                        {% else %}
                            <!-- Dropdown content for non-riders -->
                            <a class="dropdown-item" href="{{ url_for('login_rider') }}">Login</a>
                            <a class="dropdown-item" href="{{ url_for('register_rider') }}">Register</a>
                        {% endif %}
                    {% else %}
                                <a class="dropdown-item" href="{{ url_for('login_rider') }}">Login</a>
                                <a class="dropdown-item" href="{{ url_for('register_rider') }}">Register</a>
                    {% endif %}
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('register_rider') }}">Notifications</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <div class="user-actions">
                <button onclick="location.href='{{ url_for('about') }}'">Who we are</button>
                <button onclick="location.href='{{ url_for('about') }}'">What we do</button>
                <button onclick="location.href='{{ url_for('about') }}'">Contacts</button>
            </div>
        </footer>
        <script src="../static/scripts/dashboard.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
