{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Pending Delivery Assignments</h1>

        {% if assignments %}
            <ul>
                {% for assignment, rider in assignments %}
                    <li>
                        <p>Sender: {{ assignment.sender_name }}</p>
			<p>Pickup Location: {{ assignment.pickup_location }}</p>
                        <p>Delivery Location: {{ assignment.delivery_location }}</p>
                        <p>Description: {{ assignment.description }}</p>
                        <form method="POST" action="{{ url_for('view_assignments') }}">
                            <input type="hidden" name="id" value="{{ assignment.id }}">
			    <input type="hidden" name="rider_id" value="{{ rider.id }}">
                            <button type="submit" name="action" value="accept">Accept</button>
                            <button type="submit" name="action" value="deny">Deny</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No pending assignments.</p>
        {% endif %}
    </div>
{% endblock %}
